<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="tratamiento" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="Desc_Aplicacion" [required]="false" title="Desc Aplicacion" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Desc_Formulacion" [required]="false" title="Desc Formulacion" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-string-form-field property="IngredienteActivo" [required]="false" title="Ingrediente Activo" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Modo_Accion" [required]="false" title="Modo Accion" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Nombre_Comercial" [required]="false" title="Nombre Comercial" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-number-form-field property="precioAproximado" [required]="true" title="Precio Aproximado" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-string-form-field property="proveedor" [required]="false" title="Proveedor" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-lookup-form-field [data]="getCategoriaInsumosResult" property="Categoria_InsumoId" [required]="true" textProperty="Nombre" title="Categoria Insumo" valueProperty="Id" placeholder="Choose CategoriaInsumo" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getInsumosResult" property="InsumoId" [required]="true" textProperty="Descripcion" title="Insumo" valueProperty="Id" placeholder="Choose Insumo" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
