<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="insumo" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="Descripcion" [required]="false" title="Descripcion" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-date-form-field property="Fecha_Vencimiento" [required]="true" title="Fecha Vencimiento" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-string-form-field property="Nombre" [required]="false" title="Nombre" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="lote_laboratorio" [required]="false" title="Lote Laboratorio" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-lookup-form-field [data]="getTipoInsumosResult" property="Tipo_InsumoId" [required]="true" textProperty="Nombre" title="Tipo Insumo" valueProperty="Id" placeholder="Choose TipoInsumo" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getLaboratoriosResult" property="laboratorioId" [required]="true" textProperty="Nombre" title="Laboratorio" valueProperty="Id" placeholder="Choose Laboratorio" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
