<div class="row">
  <div class="col-md-12">
    <rz-grid #grid0 [allowDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getDetalleCategoriaInsumosCount" [data]="getDetalleCategoriaInsumosResult" emptyText="No records to display." (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
      <rz-grid-column property="Categoria_InsumoId" sortProperty="CategoriaInsumo.Nombre" filterProperty="CategoriaInsumo.Nombre" title="Categoria Insumo" type="integer">
        <ng-template let-data gridColumnTemplate>
        {{data?.CategoriaInsumo?.Nombre}}
        </ng-template>
      </rz-grid-column>
      <rz-grid-column property="Descripcion" title="Descripcion" type="string">
      </rz-grid-column>
      <rz-grid-column property="Id" title="Id" type="integer">
      </rz-grid-column>
      <rz-grid-column property="Letra" title="Letra" type="string">
      </rz-grid-column>
    </rz-grid>
  </div>
</div>
