<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="oferta" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-date-form-field property="CreatedOn" [required]="true" title="Created On" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-integer-form-field property="EstadoOferta" [required]="true" title="Estado Oferta" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-integer-form-field property="EstadoOfertaId" [required]="true" title="Estado Oferta Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-date-form-field property="UpdatedOn" [required]="true" title="Updated On" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-lookup-form-field [data]="getUsuariosResult" property="UsuarioId" [required]="true" textProperty="Apellidos" title="Usuario" valueProperty="Id" placeholder="Choose Usuario" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
