<div class="row">
  <div class="col-md-12">
    <rz-form #form0  (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-date-form-field property="CreatedOn" [required]="true" title="Created On" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-number-form-field property="Monto" [required]="true" title="Monto" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-number-form-field property="Saldo" [required]="false" title="Saldo" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-date-form-field property="UpdatedOn" [required]="true" title="Updated On" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-lookup-form-field [data]="getMetodoPagosResult" property="MetodoPagoId" [required]="true" textProperty="Nombre" title="Metodo Pago" valueProperty="Id" placeholder="Choose MetodoPago" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
