<div class="row">
  <div class="col-md-12">
    <rz-grid #grid0 [allowDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getLotesCount" [data]="getLotesResult" emptyText="No records to display." (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
      <rz-grid-column format="float" property="Area" title="Area" type="number">
      </rz-grid-column>
      <rz-grid-column property="Codigo" title="Codigo" type="string">
      </rz-grid-column>
      <rz-grid-column format="int64" property="Id" title="Id" type="integer">
      </rz-grid-column>
      <rz-grid-column property="Localizacion" title="Localizacion" type="string">
      </rz-grid-column>
      <rz-grid-column property="Localizacion_Poligono" title="Localizacion Poligono" type="string">
      </rz-grid-column>
      <rz-grid-column property="UnidadMedidaId" sortProperty="UnidadMedida.Descripcion" filterProperty="UnidadMedida.Descripcion" title="Unidad Medida" type="integer">
        <ng-template let-data gridColumnTemplate>
        {{data?.UnidadMedida?.Descripcion}}
        </ng-template>
      </rz-grid-column>
      <rz-grid-column format="int64" property="unidadproductivaId" sortProperty="UnidadProductiva.Codigo" filterProperty="UnidadProductiva.Codigo" title="Unidad Productiva" type="integer">
        <ng-template let-data gridColumnTemplate>
        {{data?.UnidadProductiva?.Codigo}}
        </ng-template>
      </rz-grid-column>
    </rz-grid>
  </div>
</div>
