<div class="row">
  <div class="col-md-12">
    <rz-form #form0  (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-string-form-field property="Nombre" [required]="false" title="Nombre" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Sigla" [required]="false" title="Sigla" requiredText="is required" type="string">
      </rz-string-form-field>
    </rz-form>
  </div>
</div>
