<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="detallecompra" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-number-form-field property="Impuesto" [required]="false" title="Impuesto" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-number-form-field property="Precio" [required]="true" title="Precio" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-number-form-field property="Quantity" [required]="true" title="Quantity" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-string-form-field property="descripcion" [required]="false" title="Descripcion" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-lookup-form-field [data]="getComprasResult" property="ComprasId" [required]="true" textProperty="CodigoCupon" title="Compra" valueProperty="Id" placeholder="Choose Compra" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getProductosResult" property="ProductoId" [required]="true" textProperty="CodigoUp" title="Producto" valueProperty="Id" placeholder="Choose Producto" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
