<div class="row">
  <div class="col-md-12">
    <rz-form #form0  (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-lookup-form-field [data]="getCategoriaResult" property="CategoriaId" [required]="true" textProperty="Descripcion" title="Categorium" valueProperty="Id" placeholder="Choose Categorium" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getProductosResult" property="ProductoId" [required]="true" textProperty="CodigoUp" title="Producto" valueProperty="Id" placeholder="Choose Producto" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
