<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="controlplaga" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-number-form-field property="Dosis" [required]="true" title="Dosis" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-date-form-field property="Fecha_aplicacion" [required]="true" title="Fecha Aplicacion" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-lookup-form-field [data]="getCultivosResult" property="CultivoId" [required]="true" textProperty="Descripcion" title="Cultivo" valueProperty="Id" placeholder="Choose Cultivo" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getEnfermedadesResult" property="EnfermedadesId" [required]="true" textProperty="Codigo" title="Enfermedade" valueProperty="Id" placeholder="Choose Enfermedade" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getTratamientosResult" property="TratamientoId" [required]="false" textProperty="Desc_Aplicacion" title="Tratamiento" valueProperty="Id" placeholder="Choose Tratamiento" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
      <rz-lookup-form-field [data]="getUnidadMedidasResult" property="UnidadMedidaId" [required]="true" textProperty="Descripcion" title="Unidad Medida" valueProperty="Id" placeholder="Choose UnidadMedida" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
