<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="compra" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="CodigoCupon" [required]="false" title="Codigo Cupon" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-integer-form-field property="CompraStatus" [required]="true" title="Compra Status" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-date-form-field property="CreatedOn" [required]="true" title="Created On" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-number-form-field property="Descuento" [required]="true" title="Descuento" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-number-form-field property="Impuesto" [required]="true" title="Impuesto" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-string-form-field property="MetodoPago" [required]="false" title="Metodo Pago" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-number-form-field property="TotalCompra" [required]="true" title="Total Compra" requiredText="is required" type="number">
      </rz-number-form-field>
      <rz-date-form-field property="UpdatedOn" [required]="true" title="Updated On" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-lookup-form-field [data]="getUsuariosResult" property="UsuarioId" [required]="true" textProperty="Apellidos" title="Usuario" valueProperty="Id" placeholder="Choose Usuario" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
