<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="enfermedade" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="Codigo" [required]="false" title="Codigo" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Descripcion" [required]="false" title="Descripcion" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-string-form-field property="Nombre" [required]="false" title="Nombre" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="NombreCientifico" [required]="false" title="Nombre Cientifico" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-lookup-form-field [data]="getTipoProductosResult" property="TipoProductoId" [required]="true" textProperty="Nombre" title="Tipo Producto" valueProperty="Id" placeholder="Choose TipoProducto" requiredText="is required" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
